body {
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  text-transform: uppercase;
}

div.form {
  position: relative;
  margin-top: 1.85em;
  margin-bottom: 1.85em;
}

input.form-control {
  display: inline-block;
  width: 12.5em;
  color: #00B5B5;
}

button.btn {
  vertical-align: baseline;
  background-color: #00B5B5;
  color: #fff;
}

div.col-sm-4 {
  position: relative;
  width: inherit;
  height: 20em;
  margin-top: 1.25em;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}
